.column {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
}
    

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
    background-color: #6e87b9;
    box-shadow: 0 0 50px rgba(224, 13, 13, 0.1);
}
.x-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .x-button:hover {
    opacity: 0.8;
  }

.bot-army.container {
  display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 5px;

}